* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #374151;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

header img {
  width: 100%;
  height: 191px;
  object-fit: cover;
  overflow: hidden;
  object-position: left;
}

.container {
  margin: 30px 1.25rem;

  @media (min-width: 768px) {
    margin: 30px 10%;
  }
}

.hero {
  max-width: 800px;
}

h2 {
  color: #6b59d0;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3rem;
  font-size: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  margin-bottom: 80px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  padding: 2rem;
  border-left: 1px dashed #deddeb;
}

.card img {
  width: 52px;
  height: 52px;
  margin-block: 2rem;
}

h3 {
  font-weight: 1.125rem;
  margin-bottom: 0.25rem;
}

h3::before {
  content: "|";
  position: relative;
  left: -35px;
  color: #6b59d0;
}

.card p {
  color: #6b7280;
}

span {
  color: #6b59d0;
}
